In [ ]:
import panda as pd

In [5]:
df = pd.read_excel('detections.xlsx')

In [6]:
df = df.sort_values("score",ascending=False).reset_index(drop=True)
df

     x    y   w   h  score  correct_25  correct_50  correct_75
0  114   31  14  21   0.96        True        True       False
1   55   72  34  36   0.89       False       False       False
2   11    5  19  26   0.84        True        True        True
3   18   39  31  23   0.79       False       False       False
4  124  136  29  35   0.74        True        True        True
5   24   98  21  34   0.47       False       False       False
6   36  150  41  26   0.39        True       False       False
7   92  153  27  47   0.29       False       False       False

In [26]:
def AP(thresh):
    arr = np.arange(len(df))
    res = []
    res.append([0,1])
    for x in range(len(df)):
        
        tp,fp,tn,fn = 0,0,0,0
        arr[0:x+1] = True
        arr[x+1:len(df)+1] = False
        
        for y in range(len(df)):
            if(df[thresh].loc[y] == True):
                if(arr[y] == True):
                    tp+=1
                else:
                    fn+=1
            else:
                if(arr[y] == True):
                    fp+=1
                else:
                    tn+=1
        res.append([tp/(tp+fn),tp/(tp+fp)])
        # [tp/(tp+fp),tp/(tp+fn)]
    res.append([1,0])
    res.append([0,0])

    return Polygon(res).area

In [28]:
AP("correct_25")

0.6672619047619047

In [29]:
AP("correct_50")

0.7111111111111111

In [30]:
AP("correct_75")

0.24583333333333335